main {

    background-color: white;
    padding: 2em;
    display: flex;
    align-items: center;
    flex-direction: column;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2em;
    gap: 2em;
}



main img {
    width: 40%;


}

.item {

    background-color: var(--main);
    padding: 0.5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    align-content: center;
    border: 2px solid black;

}

.item:hover {

    transform: scale(1.05);
    cursor: pointer;

}

.item p {

    font-size: x-large;
    text-align: center;
    font-family: videojuego;

}

a {

    color: black;
    text-decoration: none;

}