/* Estilos generales */
:root {

    --main: orange;
    --secondary: color: rgb(46, 19, 163);

}

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    transition: ease;
    transition-duration: 100ms;

}

body {

    background-image: url(../img/fondo.gif);
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

@font-face {
    font-family: videojuego;
    src: url(../fonts/ka1.ttf);
}

@font-face {
    font-family: videojuego2;
    src: url(../fonts/8bitOperatorPlus8-Regular.ttf);
}

header>h1 {

    font-family: videojuego;
    font-size: 3em;
    text-align: center;

}

header>nav>ul {
    font-family: videojuego2;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

header>nav a {

    text-decoration: none;
    color: black;
}



header li:hover {
    transform: scale(1.1);
}

header li:hover a {
    color: rgb(46, 19, 163);
}

header {

    background-color: var(--main);
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 1.5em;
    border: 6px solid;
}

footer {

    background-color: var(--main);
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 1.5em;
    border: 6px solid;

}

footer>ul {

    font-family: videojuego2;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    list-style: none;

}

main {
    overflow-x: hidden;
}