main {
    display: flex;
    align-items: center;
    justify-content: center;


}



main h1 {
    font-family: videojuego;
    font-size: xx-large;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    background-blur: 10px;
    background-size: cover;
    background-position: center;
    padding: 20px;
    text-align: center;
}