main {

    gap: 2em;
    display: flex;
    flex-direction: column;

    padding: 1em;
}

h2 {
    color: var(--main);
    font-family: videojuego2;

}

.posicionTextoCarrusel {

    display: flex;
    justify-content: center;
    align-items: center;

}

.videos {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;

}