.container {

    background-color: rgb(228, 227, 227);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.insideContainer {

    background-color: white;
    display: flex;
    width: 30%;
    height: 30%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid black;



}

.formulario {

    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;


}

input {

    border-color: rgb(63, 149, 255);
    margin-top: 5px;


}

.subForm {

    padding: 5px;

}

button {

    width: 90%;
    background-color: rgb(63, 149, 255);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 2px;

}

button:hover {

    transform: scale(1.1);

}

.button {

    display: flex;
    justify-content: center;
    padding-top: 1em;

    height: 15%;

}