body {

    width: 100%;
    height: auto;
    margin: 0;

}

header {

    background-color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1em;
    gap: 2em;
    position: sticky;
    top: 0;
}

a {
    text-decoration: none;
    color: white;


}

main {

    height: 200vh;
    padding: 2em;


}